# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Vite build output
/build
/dist

# Firebase local artifacts
/.firebase

# Environment variables
.env.local
.env.production
.env.*.local

# Firebase
hosting/
i/
